@use "../../assets/sass/variables" as*;

button {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    color: $secondary-color;
    padding-bottom: 10px;
    height: auto;
    width: auto;
  }
  
  @media screen and (min-width: 700px) {
    button:hover {
      font-size: 35px;
      cursor: pointer;
    }
  }